.exemploComMetodoBem, .exemploSemMetodoBem {
    display: flex;
    justify-content: center;
}




/* Exemplo Card com Método BEM */
/* Bloco 1 */
.card {
    max-width: 500px;
    border: 1px solid #ccc;
    margin-top: 50px;
    border-radius: 10px;
  }
  
  .card__imagem {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  /* Bloco 2 */
  .card-detalhes {
    padding: 25px 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  
  .card-detalhes__titulo {
    margin: 0px;
    margin-bottom: 10px;
    color: brown;
  }
  
  .card-detalhes__descricao {
    margin: 0;
  }
  
  /* Bloco 3 */
  .card-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .card-form__input {
    margin-bottom: 10px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .card-form__submit {
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #333;
  }